[bumpversion]
current_version = 1.4.82
commit = True
tag = True
extra_files = RELEASE_NOTES.md

[bumpversion:file:plugin.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"
