[bumpversion]
current_version = 1.4.54
commit = True
tag = True
# extra_files tells bump2version to include these in its commit even though
# it does not perform version string replacement in them.
extra_files = RELEASE_NOTES.md

[bumpversion:file:plugin.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"
